@media (min-width: 768px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 400px) {
    .container {
        width: 320px;
    }
}

#artGallery {
    margin-bottom: 50px;
}

.gallery-title{
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 20px;
}