.logo-container {
    display:block;
}

.normal-logo {
    display: none;
}

.horizontal-logo {
    /*display: block;
    margin: auto;*/
}

.logo-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media all and (min-width: 768px) {
    .logo-container {
        float:left;
        width: 40%;
        min-height: 200px;
    }

    .normal-logo  {
        display: block;
    }
    .horizontal-logo  {
        display: none;
    }

    .logo {
        background-image: url("img/content/logo200transp.png");
        display: block;
        height: 200px;
        width: 300px;
        margin: auto;
    }
}

@media all and (min-width: 1200px) {
    .logo-container {
        width: 28%;
    }
}
