/* .logo-container {
    min-height: 100px;
}
 */
.logo-container {
    display:block;
}
.logo {
    background-image: url("img/content/logo_horizontal.png");
    height: 100px;
    width: 300px;
    margin: auto;
    float:left;
}


@media all and (min-width: 768px) {
    .logo-container {
        float:left;
        width: 40%;
        min-height: 200px;
    }
    
    .logo {
        background-image: url("img/content/logo200transp.png");
        display: block;
        height: 200px;
        width: 300px;
        margin: auto;
    }
}

@media all and (min-width: 1200px) {
    .logo-container {
        width: 28%;
    }
}