nav.cmn-tile-nav {
  display: none;
}
nav.cmn-tile-nav.open {
  display: block;
}
nav.cmn-tile-nav ul {
  list-style: none;
  padding: 0;
}
nav.cmn-tile-nav li {
  display: block;
  overflow: hidden;
  transition: background 0.3s;
}
nav.cmn-tile-nav a {
  display: block;
  padding: 20px;
  font-size: 1.5em;
  color: #fff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  transition: background 0.3s, transform 0.3s;
}
nav.cmn-tile-nav a:hover {
  transform: translateX(20px);
}

nav.cmn-tile-nav  a {
    text-decoration: none;
}

/* repeat this section for the 8 different colours */
/* --- BEGIN --- */
nav.cmn-tile-nav li.colour-1,
nav.cmn-tile-nav li.colour-1 a {
  background-color: #ed1b24;
}
nav.cmn-tile-nav li.colour-1:hover,
nav.cmn-tile-nav li.colour-1:hover a {
  background-color: #a31a1f;
}
/* --- END --- */
nav.cmn-tile-nav li.colour-2,
nav.cmn-tile-nav li.colour-2 a {
  background-color: #f15a23;
}
nav.cmn-tile-nav li.colour-2:hover,
nav.cmn-tile-nav li.colour-2:hover a {
  background-color: #bf4417;
}

nav.cmn-tile-nav li.colour-3,
nav.cmn-tile-nav li.colour-3 a {
  background-color: #652d92;
}
nav.cmn-tile-nav li.colour-3:hover,
nav.cmn-tile-nav li.colour-3:hover a {
  background-color: #462263;
}

nav.cmn-tile-nav li.colour-4,
nav.cmn-tile-nav li.colour-4 a {
  background-color: #736356;
}
nav.cmn-tile-nav li.colour-4:hover,
nav.cmn-tile-nav li.colour-4:hover a {
  background-color: #413831;
}

nav.cmn-tile-nav li.colour-5,
nav.cmn-tile-nav li.colour-5 a {
  background-color: #342be6;
}
nav.cmn-tile-nav li.colour-5:hover,
nav.cmn-tile-nav li.colour-5:hover a {
  background-color: #1d187c;
}

nav.cmn-tile-nav li.colour-6,
nav.cmn-tile-nav li.colour-6 a {
  background-color: #28aadc;
}
nav.cmn-tile-nav li.colour-6:hover,
nav.cmn-tile-nav li.colour-6:hover a {
  background-color: #166888;
}

/* smoother transitions */
nav.cmn-tile-nav li,
nav.cmn-tile-nav a {
  transform: translate3d(0, 0, 0);
}

@media all and (min-width: 480px) {
  nav.cmn-tile-nav {
    display: block;
  }
  nav.cmn-tile-nav li {
    width: 50%;
    float: left;
  }
}

@media all and (min-width: 768px) {
  nav.cmn-tile-nav li {
    width: 20%;
  }
  nav.cmn-tile-nav a {
    text-align: center;
    padding: 40px 5px 30px 5px;
  }
  nav.cmn-tile-nav a:hover {
    transform: translateX(0);
    transform: translateY(-20px);
  }
}

@media all and (min-width: 1200px) {
  nav.cmn-tile-nav  {
    margin-bottom: 40px;
  }  
  
  nav.cmn-tile-nav li {
    overflow: visible;
    width: 12%;
  }

  nav.cmn-tile-nav a {
    padding: 40px 5px 30px 5px;
  }
  nav.cmn-tile-nav a:hover {
    transform: translateY(20px);
  }
}

a.nav-toggle {
  text-align: center;
  float:right;
}
a.nav-toggle:hover {
  background-color: #c8d2dc;
}
/* the breakpoint same as above */
@media all and (min-width: 480px) {
  a.nav-toggle {
    display: none;
  }
}

.glyphicon-menu-hamburger {
  font-size: npx;
}