@font-face {
    font-family: "MyriadRegular";
    src: url("../fonts/Myriad Pro Regular.ttf");
}

p {
    font-size: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 0px;
    font-family: "MyriadRegular";
}

p:not(:last-of-type){
    margin-bottom: 20px;
}

.about-me-photo img {
    display: block;
    margin: auto;
    vertical-align: middle;
    margin-top: 20px;
}

.about-me {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media all and (min-width: 1080px) {
    .about-me {
        flex-direction: column;
    }

    .about-me-text {
        margin-right: 40px;
    }
}

.about-me-photos {
    display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
