p {
    font-size: 2em;
    text-align: center;
    text-justify: inter-word;
    margin-bottom: 0px;
    font-family: "MyriadRegular";
}

p:not(:last-of-type){
    margin-bottom: 20px;
}

.contact {
    max-width: 580px;
    margin: auto;
    text-align: center;
}

@font-face {
    font-family: "MyriadRegular";
    src: url("../fonts/Myriad Pro Regular.ttf");
}

.social-media-links {
    margin-top: 40px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

a img {
    text-decoration: none;
    border: 0 none;
}
