@font-face {
    font-family: "MyriadCondensed";
    src: url("../fonts/Myriad Pro Condensed.ttf");
}

@font-face {
    font-family: "MyriadRegular";
    src: url("../fonts/Myriad Pro Regular.ttf");
}

nav.cmn-tile-nav.ng-hide {
  opacity: 0;
  transform: translate(0px, -5px);
}

nav.cmn-tile-nav.ng-hide-add,
nav.cmn-tile-nav.ng-hide-remove {
  transition: all linear 0.2s;
}

nav.cmn-tile-nav {
  display: none;
  transform: translate(0, 0);
  opacity: 1;
}
nav.cmn-tile-nav.open {
  display: block;
}
nav.cmn-tile-nav ul {
  list-style: none;
  padding: 0;
}
nav.cmn-tile-nav li {
  display: block;
  overflow: hidden;
  transition: background 0.1s;
}
nav.cmn-tile-nav a {
  display: block;
  padding: 10px 0px 10px 10px;
  font-size: 1em;
  color: #fff;
  transition: background 0.1s, transform 0.1s, color 0.1s;
  font-family: "MyriadCondensed";
}

nav.cmn-tile-nav.nav-sub a {
  text-align: center;
  font-family: "MyriadRegular";
}

nav.cmn-tile-nav a {
    text-decoration: none;
}

/* repeat this section for the 8 different colours */
/* --- BEGIN --- */
nav.cmn-tile-nav li.colour-1,
nav.cmn-tile-nav li.colour-1 a {
  background-color: #790642;
}
nav.cmn-tile-nav li.colour-1:hover,
nav.cmn-tile-nav li.colour-1:hover a {
  background-color: #ffffff;
  color: #13073A;
}
/* --- END --- */
nav.cmn-tile-nav li.colour-2,
nav.cmn-tile-nav li.colour-2 a {
  background-color: #8a4378;
}
nav.cmn-tile-nav li.colour-2:hover,
nav.cmn-tile-nav li.colour-2:hover a {
  background-color: #ffffff;
  color: #13073A;
}

nav.cmn-tile-nav li.colour-3,
nav.cmn-tile-nav li.colour-3 a {
  background-color: #674c96;
}
nav.cmn-tile-nav li.colour-3:hover,
nav.cmn-tile-nav li.colour-3:hover a {
  background-color: #ffffff;
  color: #13073A;
}

nav.cmn-tile-nav li.colour-4,
nav.cmn-tile-nav li.colour-4 a {
  background-color: #6a4484;
}
nav.cmn-tile-nav li.colour-4:hover,
nav.cmn-tile-nav li.colour-4:hover a {
  background-color: #ffffff;
  color: #13073A;
}

nav.cmn-tile-nav li.colour-5,
nav.cmn-tile-nav li.colour-5 a {
  background-color: #572561;
}
nav.cmn-tile-nav li.colour-5:hover,
nav.cmn-tile-nav li.colour-5:hover a {
  background-color: #ffffff;
  color: #13073A;
}

nav.cmn-tile-nav li.colour-6,
nav.cmn-tile-nav li.colour-6 a {
  background-color: #751750;
}
nav.cmn-tile-nav li.colour-6:hover,
nav.cmn-tile-nav li.colour-6:hover a {
  background-color: #ffffff;
  color: #13073A;
}

nav.cmn-tile-nav li.colour-7,
nav.cmn-tile-nav li.colour-7 a {
  background-color: #1b005b;
}
nav.cmn-tile-nav li.colour-7:hover,
nav.cmn-tile-nav li.colour-7:hover a {
  background-color: #ffffff;
  color: #13073A;
}
/* smoother transitions */
nav.cmn-tile-nav li,
nav.cmn-tile-nav a {
  transform: translate3d(0, 0, 0);
}
@media all and (min-width: 480px) {
    /*submenu keeps space*/
    .ng-hide:not(.ng-hide-animate) {
        display: block !important;
    }

    nav.cmn-tile-nav {
        display: block;
    }
    nav.cmn-tile-nav li {
        width: 33.33%;
        float: left;
    }

    nav.cmn-tile-nav.nav-sub li {
        width: 20%;
        float: left;
    }

    nav.cmn-tile-nav a {
        font-size: 1.3em;
    }
    nav.cmn-tile-nav.nav-sub a {
        font-size: 1em;
    }
}

@media all and (min-width: 768px) {
    nav.cmn-tile-nav.ng-hide {
      opacity: 0;
      transform: translate(0px, -10px);
    }
    nav.cmn-tile-nav li {
        overflow: visible;
        width: 16.66%;
    }

    nav.cmn-tile-nav.nav-sub li {
        width: 20%;
    }

    nav.cmn-tile-nav a {
        text-align: center;
        padding: 5px 5px 5px 5px;
    }

    nav.cmn-tile-nav.nav-sub a {
        padding: 5px 5px 5px 5px;
    }
}

@media all and (min-width: 1200px) {
    nav.cmn-tile-nav li {
        overflow: visible;
        width: 16.66%;
    }

    nav.cmn-tile-nav.nav-sub li {
        width: 20%;
    }

    nav.cmn-tile-nav a {
        padding: 5px 5px 5px 5px;
        font-size: 2em;
    }

    nav.cmn-tile-nav.nav-sub a {
        padding: 5px 5px 5px 5px;
        font-size: 1.5em;
    }
}

button.nav-toggle {
  text-align: center;
  float:right;
}

button.nav-toggle:hover {
  background-color: #c8d2dc;
}
/* the breakpoint same as above */
@media all and (min-width: 480px) {
  button.nav-toggle {
    display: none;
  }
}

.glyphicon-menu-hamburger {
  font-size: npx;
}
